Checks: >
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-designated-initializers,
  -modernize-use-trailing-return-type,
  -readability-use-trailing-return-type
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
